.App {
  text-align: center;
  width: 340px;
  box-shadow: 0 8px 6px -6px black;
}

.App-logo {
  height: 150px;
  width: 240px;
  margin-bottom: 25px;
}

.App-specials {
  background-color: #white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.specials {
  max-height: 450px;
  overflow-y: scroll;
}

.card {
  margin-bottom: 25px;
}

.footer {
padding: 20px;
}

.fas {
  font-size: 20px;
}

.nav-pills .nav-link.active {
  background-color: #08549c !important;
}
