.App {
  text-align: center;
  width: 340px;
  box-shadow: 0 6px 16px -6px black;
}

.App-logo {
  height: 100px;
  width: 140px;
  margin-bottom: 15px;
}

.App-specials {
  background-color: #white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
}

.card {
  margin-bottom: 25px;
}

.footer {
padding: 20px;
}

.fas {
  font-size: 20px;
}

.nav-pills .nav-link.active {
  background-color: #08549c !important;
}
